@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 100;
  src: url(../fonts/montserrat-italic-100.woff) format("woff");
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 200;
  src: url(../fonts/montserrat-italic-200.woff) format("woff");
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 300;
  src: url(../fonts/montserrat-italic-300.woff) format("woff");
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/montserrat-italic-400.woff) format("woff");
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  src: url(../fonts/montserrat-italic-500.woff) format("woff");
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  src: url(../fonts/montserrat-italic-600.woff) format("woff");
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  src: url(../fonts/montserrat-italic-700.woff) format("woff");
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 800;
  src: url(../fonts/montserrat-italic-800.woff) format("woff");
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 900;
  src: url(../fonts/montserrat-italic-900.woff) format("woff");
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/montserrat-normal-100.woff) format("woff");
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: url(../fonts/montserrat-normal-200.woff) format("woff");
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/montserrat-normal-300.woff) format("woff");
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/montserrat-normal-400.woff) format("woff");
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/montserrat-normal-500.woff) format("woff");
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/montserrat-normal-600.woff) format("woff");
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/montserrat-normal-700.woff) format("woff");
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/montserrat-normal-800.woff) format("woff");
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/montserrat-normal-900.woff) format("woff");
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 100;
  src: url(../fonts/poppins-italic-100.woff) format("woff");
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 200;
  src: url(../fonts/poppins-italic-200.woff) format("woff");
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 300;
  src: url(../fonts/poppins-italic-300.woff) format("woff");
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/poppins-italic-400.woff) format("woff");
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  src: url(../fonts/poppins-italic-500.woff) format("woff");
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 600;
  src: url(../fonts/poppins-italic-600.woff) format("woff");
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  src: url(../fonts/poppins-italic-700.woff) format("woff");
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 800;
  src: url(../fonts/poppins-italic-800.woff) format("woff");
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 900;
  src: url(../fonts/poppins-italic-900.woff) format("woff");
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/poppins-normal-100.woff) format("woff");
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  src: url(../fonts/poppins-normal-200.woff) format("woff");
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/poppins-normal-300.woff) format("woff");
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/poppins-normal-400.woff) format("woff");
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/poppins-normal-500.woff) format("woff");
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/poppins-normal-600.woff) format("woff");
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/poppins-normal-700.woff) format("woff");
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/poppins-normal-800.woff) format("woff");
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/poppins-normal-900.woff) format("woff");
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 100;
  src: url(../fonts/lato-italic-100.woff) format("woff");
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: url(../fonts/lato-italic-300.woff) format("woff");
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/lato-italic-400.woff) format("woff");
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: url(../fonts/lato-italic-700.woff) format("woff");
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  src: url(../fonts/lato-italic-900.woff) format("woff");
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/lato-normal-100.woff) format("woff");
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/lato-normal-300.woff) format("woff");
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/lato-normal-400.woff) format("woff");
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/lato-normal-700.woff) format("woff");
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/lato-normal-900.woff) format("woff");
  unicode-range: U+0-10FFFF;
}
